section{
	background: url(../img/bg.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	height: 100%;
}
.input-group{
	margin:15em auto 30em;
}
article header h1{
	text-align: center;
    color:#fff;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 2em auto 2em auto;
}
footer{
	text-align: center;
	background: grey;
	height: 6em;
	width: 100%;
	margin-top: 0;
	
}

footer h2 {
	font-size: 1.3em;
	color: #fff;
	padding-top: 2em;
}