section{
	background: url(../img/bg.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	height: 800px;
	align-content: center;
	
}
#show{
	width: 30em;
	height: 30em;
	background-color: rgba(0,0,0,0.5);
	border: 1px gray solid;
	color: #fff;
	margin: auto;
	align-content: center;
}
#show #sh_top{
	width: 30em;
	display: block;
    margin: 1px auto;
    float: left;
    height: 30%;
    align-content: center;
}
#sh_time{
	width: 30em;
	height: 3em;
	/*background-color: rgb(0,154,205)*/
}
#sh_time ul{
	float:left;
	width: auto;
	list-style:none;
}
#sh_time ul li{
	float: left;
}

article header h1{
	text-align: center;
    color:#fff;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 2em auto 2em auto;
}
footer{
	text-align: center;
	background: grey;
	height: 6em;
	width: 100%;
	margin-top: 0;
	
}

footer h2 {
	font-size: 1.3em;
	color: #fff;
	padding-top: 2em;
}


