
section{
	width: 700px;
	margin: 200px auto;
	text-align: center;
}
article{
	width: 700px;
}
#te{
	height: 30px;
	width: 400px;
	display: block;
	float: left;
	margin: 10px 0 auto 110px;
	
}
#bun{
	background-color:#2d78f4;
	height: 36px;
	width: 100px;
	color: #fff;
	font-size: 20px;
	display: block;
	float: left;
	margin:10px 0;
	border-radius: 5px;
}
